<div id="portfolio_view">
    <h1 class="page-header">My Portfolio</h1>
    <p class="lead">Current Value: {{totalPortfolioValue() | number:2}}</p>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="table-icons hidden-xs"></th>
                <th class="table-icons hidden-xs"></th>
                <th class="hidden-xs">Symbol</th>
                <th>Name</th>
                <th class="text-right">Price</th>
                <th class="text-right">Change</th>
                <th class="text-right hidden-xs">Shares</th>
                <th class="text-right hidden-xs">Purchase Price</th>
                <th class="text-right hidden-xs">Market Value</th>
                <th class="text-right hidden-xs">Gain/Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quote in quotes" ng-swipe-left="deleteStock(quote)" ng-swipe-right="deleteStock(quote)">
                <td class="hidden-xs"><small><span ng-click="deleteStock(quote)" class="delete_button glyphicon glyphicon-trash" aria-hidden="true"></span></small></td>
                <td class="hidden-xs"><small><span ng-click="editStock(quote)" class="delete_button glyphicon glyphicon-pencil" aria-hidden="true"></span></small></td>
                <td class="hidden-xs">{{quote.symbol}}</td>
                <td><a ng-href="#/detail/{{quote.symbol}}">{{quote.name}}</a></td>
                <td class="text-right">{{quote.price | number:2}}</td>
                <td class="text-right"><span class="label" ng-class="changeClass(quote.change)">{{quote.change | number:2}}</span></td>
                <td class="text-right hidden-xs">{{numberOfShares(quote.symbol)}}</td>
                <td class="text-right hidden-xs">{{purchasePrice(quote.symbol) | number:2}}</td>
                <td class="text-right hidden-xs">{{marketValue(quote.symbol,quote.price) | number:2}}</td>
                <td class="text-right hidden-xs"><span class="label" ng-class="gainLossClass(quote.symbol,quote.price)">{{gainLoss(quote.symbol,quote.price) | number:2}}</span></td>
        </tbody>
    </table>
    <h4 class="page-header">Add Symbol</h4>
    <form name="symbolForm" ng-submit="symbolForm.$valid && addSymbol()" novalidate>
        <div class="form-group">
            <label>Symbol</label>
            <input ng-model="symbolInput" type="text" class="form-control" placeholder="Enter symbol, e.g. YHOO" required>
        </div>
        <div class="form-group hidden-xs">
            <label>Number of Shares</label>
            <input ng-model="numberOfSharesInput" type="number" class="form-control" placeholder="Enter number of shares, e.g. 100">
        </div>
        <div class="form-group hidden-xs">
            <label>Purchase Price</label>
            <input ng-model="purchasePriceInput" type="number" step="0.01" class="form-control" placeholder="Enter purchase price, e.g. 99.95">
        </div>
        <button type="submit" class="btn btn-default" value="add">Add</button>
    </form>
</div>
